.highlight {
  background-color: #003cac;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyetest_btn {
  border-radius: 2rem;
  border: none;
  padding: 0.8rem 5rem;
  font: inherit;
  font-size: 1.3rem;
  font-weight: 800;
  color: #003cac;
  cursor: pointer;
  box-shadow: 0 0 8px 2px #0b43ac;
}

.header {
  box-shadow: 0 0 8px 2px grey;
}
.header-body {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  height: 50px;
  width: 50px;
  margin-left: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo {
  height: 50px;
  max-width: 60vw;
}
