.overlay {
  top: 0;
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  opacity: 0.5;
}

.slide-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 100vh;
  width: 300px;
  padding: 3rem;
  transform: translateX(-100%);
  z-index: 11;
  transition: all ease-out 0.3s;
}

.slide-show {
  transform: translateX(0) !important;
}

.navList {
  list-style: none;
  padding-left: 0;
}
