.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.container button {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  font: inherit;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 0px 2px 2px black;
  outline: none;
}

.prescription {
  background-color: black;
  color: white;
  transition: all 0.5s ease-out;
}

.prescription:hover {
  background-color: purple;
  border-color: purple;
  box-shadow: 0px 2px 2px purple;
}
