.color-icon-btn {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 0.25rem;
  cursor: pointer;
}

.selected {
  border-color: #444;
  opacity: 1;
}

.color-icon {
  width: 40px;
  height: 40px;
  background: url("https://www.oscarwylee.com.au/static/version1666186363/frontend/Oscar/2016/en_US/Oscar_Catalog/images/oscar-swatches.png");
  background-size: 600px 600px;
}
