.container {
  box-shadow: 0 0 8px 2px grey;
}
.header {
  max-width: 1280px;
  margin: auto;

  padding: 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  margin-left: 3rem;
  margin-right: 3rem;
}

.logo img {
  height: 40px;
}

.navbar-container {
  flex-grow: 1;
}

.navbar {
  width: fit-content;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
}
.navbar a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem;

  color: black;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.navbar a:hover {
  color: rgb(81, 118, 187);
}

.navbar a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: blue;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.navbar a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.book {
  padding: 1rem 3rem;
  border-radius: 20px;
  border: 1px solid blue;
  background-color: white;
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.icon-group {
  margin: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icon-container {
  padding: 0.25rem;
  cursor: pointer;
}
