.container {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
}

.price {
  font-size: 2.8rem;
  font-weight: bold;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.pay-logo {
  width: 60px;
  margin-bottom: 0.2rem;
}
