.heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.title,
.discount {
  margin: 0;
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.discount {
  border-top: 1px solid black;
}

.tag {
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 1.2rem;
  font-weight: 600;
}

.color-collection-container {
  margin: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.price-container {
  margin: 2rem;
  border-bottom: 1px solid #ddd;
}

.action-container {
  margin: 3rem 2rem;
  padding: 0 4rem;
}

.description-container {
  margin: 2rem;
}
