.container {
  max-width: 1280px;
  margin: auto;
  padding: 4rem;
}
.main {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.left-panel {
  flex: 0 0 70%;
}

.right-panel {
  flex: 1 0 0;
  margin-left: 2rem;
}

.discount {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.tag {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
}

.title {
  font-size: 2.4rem;
}

.color-collection-container {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.price-container {
  margin: 2rem 0;
}
