.container {
  margin-top: 6rem;
  border: 1px solid #444;
  border-radius: 20px;
  padding: 3rem;
  text-align: center;
  position: relative;
}

.title {
  position: absolute;
  text-align: center;
  top: -3.5rem;
  left: 0;
  right: 0;
}

.title span {
  display: inline-block;
  /* max-width: 150px; */
  padding: 0 2rem;
  font-size: 3rem;
  background-color: white;
}

.description-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-container {
  flex: 1 0 0;
  margin: 3rem 0;
}

.detail-container {
  margin-left: 5rem;
  flex: 0 0 48%;
}
