.container {
  margin-top: 6rem;
  border: 1px solid #444;
  border-radius: 20px;
  padding: 3rem;
  text-align: center;
  position: relative;
}

.title {
  position: absolute;
  text-align: center;
  top: -4.5rem;
  left: 0;
  right: 0;
}

.title span {
  display: inline-block;
  max-width: 150px;
  padding: 0 1rem;
  font-size: 2.4rem;
  background-color: white;
}

.summary-container {
  margin: 3rem 0;
}
