.origin {
  font-size: 2rem;
  font-weight: bold;
}

.size {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.fit,
.measure {
  width: 50%;
  border: 1px solid black;
  padding: 1rem 0.5rem 3rem;
  font-size: min(1.8rem, 3.5vw);
}

.fit {
  border-right: none;
}

.label {
  margin-bottom: 1rem;
  font-weight: bold;
}

.tag {
  font-size: 1.2rem;
  line-height: 2rem;
}

.addition {
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid #ddd;
  font-size: 1.2rem;
}

.addition .note {
  margin-top: 2rem;
  font-weight: bold;
  font-style: italic;
}
