.icon-container {
  height: 50px;
  width: 50px;
  margin-left: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.margin-left-0 {
  margin-left: 0 !important;
}

.carousel .control-dots .dot {
  background-color: #444 !important;
  width: 16px !important;
  height: 16px !important;
}

.hover-shake-right:hover {
  animation-name: shake-right;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake-right {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}
