.gallery {
  position: relative;
}

.gallery img {
  object-fit: contain;
  height: min(60vw, 540px);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.showZoomBtn {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  padding: 0.5rem 1rem;
  border: 1px solid #444;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.8;
  transition: transform 300ms ease-out;
}

.showZoomBtn:hover {
  transform: scale(1.2);
}
