.microscope {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}

.microscope * {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.img-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* scrollbar-width: none; */
}

.microscope img {
  object-fit: contain;
  width: 100%;
  height: auto;
  transition: all 0.3s ease-out;

  /* pointer-events: none; */
  cursor: grab;
  pointer-events: auto !important;

  /* transform-origin: 0 0; */
  position: absolute;
}
/* .dragging {
  transition: none;
} */

.closeZoomBtn {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 101;
  opacity: 0.5;
  cursor: pointer;
}

.zoomUp {
  position: absolute;
  bottom: 100px;
  right: 40px;
  z-index: 101;
  opacity: 0.8;
  cursor: pointer;
}
.zoomDown {
  position: absolute;
  bottom: 30px;
  right: 40px;
  z-index: 101;
  opacity: 0.8;
  cursor: pointer;
}

.pale {
  opacity: 0.1;
}
